{% extends "_display.html" %}
{% block body %}
{% section section_id="indigenous-veterans", section_title="Indigenous Veterans" %}

{{ "/static/displays/indigenous-veterans/indigenous-main.mp3" | audio }}

{{ "/static/displays/indigenous-veterans" | gallery(4) }}

{% markdown %}

This Indigenous display is relatively new to the Museum. To your left is a large oil painting by Indigenous artist Jessie Janusca depicting the role of the Indigenous peoples in the Canadian military over the years. Notice the sacred eagle soaring in the skies over the open grasslands and bison. The Indigenous mother sending her son off to fight in World War I symbolizes the sacrifice of the Indigenous peoples. The uniformed soldier in the centre is Corporal Francis Pegahmagabow who represents the valour and sacrifice of all Indigenous soldiers in Canada’s military. The artist’s rendition of a XII Manitoba Dragoons’ armoured car brings us to World War II, while the rows of grave markers symbolize the sacrifice of all members of Canada’s military. After both wars, Indigenous soldiers not only suffered the trauma of war, but also the overt discrimination by the Canadian government of the time.

Below this painting is a shadow box honouring three individual Indigenous soldiers.

**Francis Pegahmagabow** was born March 1891 and died August 1952. He was an Ojibwe soldier, politician and activist in Canada. At the end of World War I, he was the most highly decorated Indigenous soldier in Canadian military history and was recognized as the most effective sniper of the war. He was awarded the Military Medal three times and seriously wounded. He was an expert marksman and scout and was credited with killing 378 Germans and capturing 300 more. Later in life, he served as chief and a councillor for the Wasauksing First Nation and as an activist and leader in several First Nations organizations.

**Tommy Prince** was born in 1915 in Petersfield, Manitoba. He was a member of the Ojibway Nation and learned hunting and tracking on the Brokenhead Reserve.

At the start of World War II, after volunteering, Tommy Prince trained with an elite joint American Canadian unit and used his traditional Indigenous skills as they fought across France.

Sergeant Tommy Prince also volunteered to serve in Korea during the Korean Conflict.

In total, Tommy Prince was awarded 11 medals.

Upon returning to Canada Sergeant Tommy Prince fought for equality and Indigenous rights.

Sergeant Tommy Prince died in Winnipeg in 1977 and is buried in Brookside Cemetery, Winnipeg.

**Charles Henry Byce** was born in March of 1916 in Ontario.  He was born to a Cree mother and a non-Indigenous father. When World War II began, he followed his father’s example from World War I and joined Canada’s military. He went overseas with the 4th Canadian Armoured Division and fought across France and Belgium. He was awarded the Distinguished Conduct Medal and the Military Medal for his actions in battle. Byce is Canada’s most highly decorated Indigenous soldier of the Second World War. On returning to Canada after the War he was employed at a pulp and paper mill. He died in November of 1994 in Newmarket, Ontario.

To your right is another shadow box honouring the memory of Private Herman Essie. Private Essie, born in Oak River, now known as Sioux Valley, Manitoba, was a survivor of the Canadian residential school system and a member of the Sioux Valley Dakota Nation. Private Essie was a member of the Border Horse Regiment, the Royal Winnipeg Rifles, the Regina Rifles and the XII Manitoba Dragoons. The hat badges of these four regiments are on display here. Included in the shadow box are Private Essie’s medals which include the 1939 1945 War Medal, the Canadian Voluntary Service Medal with Overseas Bar, the Defence Medal, the France Germany Star and the 1939 – 1945 Star.  His identification tags, a medallion presented by the community of Oak River and a World War II General Service lapel pin are also on display.

Below this is an eagle feather which holds great spiritual significance for Indigenous peoples. The eagle feather is used in ceremonies and rituals and is honoured as a sacred object by many tribes. The eagle feather symbolizes strength, wisdom and a strong connection to the Creator.


{% endmarkdown %}


{% endsection %}
{% endblock %}
