{% import "partials/nav-item.html" as item with context %}
{% set class = "md-nav md-nav--primary" %}
<nav class="{{ class }}" aria-label="{{ lang.t('nav') }}" data-md-level="0">
  <ul class="md-nav__list" data-md-scrollfix>
    {% if page.toc | d(False) %}
      {% for nav_item in page.toc.items %}

	<li class="md-nav__item">
	  <a href="#{{ nav_item.id }}" class="md-nav__link">
	    <span class="md-ellipsis">
	      {{ nav_item.title }}
	    </span>
	  </a>
	  
	</li>

      {% endfor %}
    {% endif %}
  </ul>
</nav>
