html, body, article {
    font-size: 1.2rem;
}

.msm__section-title {
    text-align: center;
    padding-bottom: 1rem;
}

.msm__gallery-link-image {
    filter: invert(100%);
    min-width: 20%;
    max-width: 40%;
    float: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}