html, body, article {
    font-size: 1.2rem;
}

.msm__section-title {
    text-align: center;
    padding-bottom: 1rem;
}

.msm__sidebar_img {
    max-height: 600px;
}

.flex-container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.column-1 {
    flex: 1;
    flex-shrink: 0;
}

.column-5 {
    flex: 5;
    flex-shrink: 0;
}
