{% extends "_display.html" %}
{% block body %}

{{ "Sweetheart Pins" | upper | hero_banner("/static/displays/sweetheart-pins/SweetheartPins.webp") }}

{% section section_id="sweetheart-pins" %}
{{ "/static/displays/sweetheart-pins/SweetheartPins.mp3" | audio }}
{{ "/static/displays/sweetheart-pins" | gallery(1) }}
{% markdown %}

While not officially military, sweetheart pins, bracelets or necklaces depict the regimental or other service affiliation of a soldier, sailor or airman and were worn by military mothers, wives or sweethearts. Thus, the term “sweetheart pins” became popular.

Sending home personal keepsakes by servicemen started during World War I. As the war dragged on longer than anticipated, soldiers felt a need to keep in touch and strengthen bonds with loved ones back home. Sweetheart pins were given to mothers, wives or girlfriends by servicemen as reminders of their absent loved ones and were worn to show their loyalty and pride for their loved one serving their country.

Sweetheart pins often symbolized the hope that the wearer and gift-giver would eventually be reunited. However, the unprecedented death toll of the First World War meant that many pins originally given in happy circumstances became associated with grief. The feelings of loss associated to some of the sweetheart pins have caused many of their histories to be lost as the pins were hidden away and eventually forgotten.

During World War II, the custom of sweetheart pins continued and represented a time when the entire country backed the war effort.

This small display of sweetheart pins is currently on loan from Christine Hearn.

{% endmarkdown %}
{% endsection %}

{% endblock %}


