#albums ul {
    text-align: center;
}

#albums ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2rem;
    margin-left: 0px;
}

a {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

header {
    text-align: center;
}

nav#menu {
    font-size: 2rem;
    text-decoration: none !important;
    font-weight: bold;
}

nav#menu > ul > li > a {
    color: rgb(238, 238, 238) !important;
}



hr, div#main > div.icons, .breadcrumb {
    display: none;
}