html, body, article {
    font-size: 1.2rem;
}

.hero-banner {
    background-repeat: no-repeat; /* Optional: Controls image repetition */
    background-size: cover; /* Optional: Scales image to cover the element */
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    color: white; /* Adjust text color for readability if needed */
    max-height: 8rem;
}

.audio-container {
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .msm__section-title {
    font-size: 4rem;
  }
}

.msm__section-title {
    text-align: center;
    margin-bottom: 4rem;
    font-family: "Unna", serif;
    letter-spacing: 0.2rem;;
}

.element-description {
    text-align: center;
    margin-bottom: 0.5rem;
}

.gallery-grid {
    margin-bottom: 2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.column-1 {
    flex: 1 0 100%;
    text-align: center;
}

.column-2 {
    flex: 1 0 40%;
    text-align: center;
}

.column-3 {
    flex: 1 0 25%;
    text-align: center;
}

.column-4 {
    flex: 1 0 20%;
    text-align: center;
}