#albums ul {
    text-align: center;
}

#albums ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2rem;
    margin-left: 0px;
}

header {
    text-align: center;
}

nav#menu {
    font-size: 2rem;
}