{% extends "_display.html" %}
{% block body %}

{{ "Brigadier General James Kirkcaldy" | upper | hero_banner("/static/displays/james-kirkcaldy/Manitoba-Dragoons.webp") }}

{% section section_id="james-kirkcaldy" %}
{{ "/static/displays/james-kirkcaldy/main.mp3" | audio }}
{{ "/static/displays/james-kirkcaldy" | gallery(4) }}
{% markdown %}

This display commemorates **Brigadier General James Kirkcaldy** who was a member of the Manitoba Dragoons and the 99th Manitoba Rangers. Most of his military career was with the 8th Winnipeg Rifles and the 78th Battalion of the Winnipeg Grenadiers in France during World War I.  On display is a photograph of Brigadier General James Kirkcaldy, his identification tags and the World War I decorations and medals which he was awarded. The Imperial German Army bugle to the right was captured along with a frightened young signaller after Kirkcaldy voiced annoyance about the noise of the bugle.

The drawers below contain many more interesting medals and artifacts.


{% endmarkdown %}
{% endsection %}





{% section section_id="james-kirkcaldy-explore", section_title="Service & Medals" %}
{{ "/static/displays/james-kirkcaldy/explore/explore.mp3" | audio }}
{{ "/static/displays/james-kirkcaldy/explore" | gallery(2) }}
{% markdown %}

James Kirkcaldy was born in Scotland in 1866. He came to Canada in 1891 and made Brandon his home. Kirkcaldy was the Chief of Police in Brandon for 13 years. He was a member of the Manitoba Dragoons and later a Major in the 99th Manitoba Rangers. At the outbreak of World War I in 1914, he joined the Canadian Expeditionary Force as a Major with the 8th Winnipeg Rifles. Kirkcaldy was wounded in France and returned to Canada to recover. During this time he raised the 78th Battalion of the Winnipeg Grenadiers and returned to France in 1916. James Kirkcaldy saw action in many battles of World War I such as The Somme, Vimy Ridge and Passchendaele and later at Canal du Nord, Valenciennes and Mons.

Kirkcaldy returned to Brandon in 1919 and held positions with Brandon City Council and the Brandon Winter Fair and Brandon Livestock Association.

Kirkcaldy died in 1957 and is buried in the Brandon Cemetery. He is commemorated by Kirkcaldy Drive and Kirkcaldy Heights School in Brandon.

Brigadier General James Kirkcaldy's decorations and medals are, from left to right: The Companion of the Order of Saint Michael and Saint George, The Distinguished Service Order with 2 Bars, the 1914-1918 Star, the War Medal, the Inter-Allied Victory Medal and the French Croix de Guerre.

{% endmarkdown %}
{% endsection %}






{% endblock %}


