<div class="audio-container">
    <div class="element-description" >Press Play For Audio Transcript</div>
    <div>
        <audio class="audio" controls="" src="{{ audio_src }}"></audio>
    </div>
</div>