<div class="pswp-gallery" id="{{ gallery_id }}" style="float: ; display: inline-block;">
{% for image in images %}
    <a
      href="{{ image.static_path }}"
      data-pswp-width="{{ image.width }}"
      data-pswp-height="{{ image.height }}"
      target="_blank"
    >
{% if loop.first %}
<!-- thumbnail -->
        <a
        href="{{ image.static_path }}"
        data-pswp-width="{{ image.width }}"
        data-pswp-height="{{ image.height }}"
        target="_blank"
        >
            <button>Image Gallery</button>
        </a>
{% endif %}
    </a>
{% endfor %}
</div>

<script type="module">
    import PhotoSwipeLightbox from '/static/js/photoswipe-lightbox.esm.js';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#{{ gallery_id }}',
        children: 'a',
        zoomSVG: '&#128269;',
        closeSVG: 'X',
        pswpModule: () => import('/static/js/photoswipe.esm.js'),
    });

    lightbox.init();
    // const zoomButton = document.getElementsByClassName('pswp__button--zoom')[0];
    // zoomButton.remove()
</script>



