<div style="text-align: center; margin-bottom: 0.5rem;">
  Tap {{ 'Image' if (images | count == 1) else 'Images' }} For Full Size
</div>
<div class="flex-container gallery-grid">
{% for image in images %}
    <div class="column-{{ num_col }}">
        <a href="/image-full.html?imgSrc={{ image.img }}">
          <img src="{{ image.thumb }}" alt="" class="msm__sidebar_img" />
        </a>
    </div>
{% endfor %}
</div>