{% for image_batch in images | batch(batch_size) %}
<div class="flex-container">
{% for image in image_batch %}
    <div class="column-1">
        <a href="{{ image.img }}">
          <img src="{{ image.thumb }}" alt="" class="msm__sidebar_img" />
        </a>
    </div>
{% endfor %}
</div>
{% endfor %}
