<div class="element-description">
  Tap {{ 'Image' if (images | count == 1) else 'Images' }} For Full Size
</div>
<div class="flex-container gallery-grid">
{% for image in images %}
    <div class="column-{{ num_col }}">
        <a data-fslightbox="lightbox-{{ image.img | b64encode }}" href="{{ image.img | urlencode }}">
          <img src="{{ image.thumb }}" alt="" class="msm__thumbnail_img" />
        </a>
    </div>
{% endfor %}
</div>