<article class="hero-banner" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('{{ hero_image }}');">
    <h1 class="msm__section-title">{{ hero_title | upper }}</h1>
</article>
