    <section id="{{ section_id }}" data-aos="fade-in">
      <article>
        <h1 class="msm__section-title">{{ section_title | upper }}</h1>
            {{ section_content | indent(8) }}
      </article>
    </section>