{% extends "_display.html" %}
{% block body %}
{% section section_id="vimy-2025", section_title="Vimy & Beyond Night 2025" %}



<div class="flex-container">
    <div class="column-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="column-1">
        <div class="pswp-gallery" id="gallery--getting-started">
            <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg"
                data-pswp-width="1669"
                data-pswp-height="2500"
                target="_blank">
                <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/2/img-2500.jpg" alt="" class="msm__sidebar_img" />
            </a>
            <a href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg"
                data-pswp-width="1669"
                data-pswp-height="2500"
                target="_blank">
                <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/3/img-2500.jpg" alt="" class="msm__sidebar_img" />
            </a>
        </div>
    </div>
</div>


<script type="module">
    import PhotoSwipeLightbox from '/static/js/photoswipe-lightbox.esm.js';
    import PhotoSwipe from '/static/js/photoswipe.esm.js';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery--getting-started',
        children: 'a',
        pswpModule: PhotoSwipe
    });
    lightbox.init();
</script>

{% endsection %}
{% endblock %}
